<div class="video-preview">
	<div class="container-fluid container-fluid-max-xl">
		<div class="row">
			<div class="col-md-6 text">
				<p class="small text-uppercase">More than a bank account</p>
				<h2>Place your content here</h2>
				<p class="lead">Open a new account with us and switch at the end of your application. Choose your preferred switch date – all payments will be moved over in just 7 working days.</p>
				<p>
					<a class="small text-uppercase" href="javascript:void(0);"><strong>See how to apply</strong>
					</a>
				</p>
			</div>
			<div class="col-md-6 image">
				<a href="javascript:void(0);">
					<img alt="[Alternative Image Description]" class="center-block img-fluid" src="$carousel_1.jpg$">
				</a>
			</div>
		</div>
	</div>
</div>