$body-bg: white;
$bright-color: #1865FB;
$complementary-color: #869CAD;
$dark-color: #242529;
$light-color: #E7E7ED;
$solid-color: #47647A;

$portlet-decorate-bg: #FFF;
$portlet-decorate-border: 1px solid $light-color;

// $compat-alerts: false;
// $compat-basic_search: false;
// $compat-breadcrumbs: false;
// $compat-button_groups: false;
// $compat-buttons: false;
// $compat-cards: false;
// $compat-component_animations: false;
// $compat-dropdowns: false;
// $compat-figures: false;
// $compat-form_validation: false;
// $compat-forms: false;
// $compat-grid: false;
// $compat-icons: false;
$compat-labels: false;
// $compat-liferay: false;
// $compat-list_groups: false;
// $compat-management_bar: false;
// $compat-modals: false;
// $compat-nav_tabs: false;
// $compat-navbar: false;
// $compat-navs: false;
// $compat-pager: false;
// $compat-pagination: false;
// $compat-panels: false;
// $compat-progress_bars: false;
// $compat-responsive_utilities: false;
// $compat-sidebar: false;
// $compat-simple_flexbox_grid: false;
$compat-stickers: false;
// $compat-tables: false;
// $compat-toggle_card: false;
// $compat-toggle_switch: false;
// $compat-toolbar: false;
// $compat-user_icons: false;
// $compat-utilities: false;