$border-radius: 0.5rem !default;
$border-radius-lg: 0.5rem !default;
$border-radius-sm: 0.5rem !default;

$label-border-radius: 0.25rem !default;

$sticker-border-radius: 0.25rem !default;

$label-font-size: 0.75rem !default;
$label-text-transform: capitalize !default;
