.portlet-decorate .portlet-content {
	background: #FFF;
	border: 1px solid #DEEEEE;
}

.portlet-embedded {
	position: relative;

	.portlet-content {
		padding: 0;
	}

	.portlet-topper {
		z-index: 1;
	}
}