#banner > nav.navbar .has-children > a {
	@include sm() {
		float: left;
	}

	&:first-of-type {
		@include sm() {
			padding-right: 5px;
		}
	}

	&:last-of-type {
		@include media-query(null, $screen-xs-max) {
			position: absolute;
			right: 0;
			top: 0;
		}

		@include sm() {
			padding-left: 6px;
		}
	}
}