@mixin elevation($type, $color) {
	@if $type == "tight-1" {
		box-shadow: 0px 1px 3px $color;
	} @else if $type == "tight-2" {
		box-shadow: 0px 1.25px 4px $color;
	} @else if $type == "tight-3" {
		box-shadow: 0px 2px 6px $color;
	} @else if $type == "tight-4" {
		box-shadow: 0px 2px 7px $color;
	} @else if $type == "tight-5" {
		box-shadow: 0px 3px 12px $color;
	} @else if $type == "tight-6" {
		box-shadow: 0px 3.5px 14px $color;
	} @else if $type == "tight-7" {
		box-shadow: 0px 7px 18px $color;
	} @else if $type == "tight-8" {
		box-shadow: 0px 12px 28px $color;
	} @else if $type == "tight-9" {
		box-shadow: 0px 13px 36px $color;
	} @else if $type == "fluffy-1" {
		box-shadow: 0px 5px 15px $color;
	} @else if $type == "fluffy-2" {
		box-shadow: 0px 6.25px 20px $color;
	} @else if $type == "fluffy-3" {
		box-shadow: 0px 10px 30px $color;
	} @else if $type == "fluffy-4" {
		box-shadow: 0px 10px 35px $color;
	} @else if $type == "fluffy-5" {
		box-shadow: 0px 15px 60px $color;
	} @else if $type == "fluffy-6" {
		box-shadow: 0px 17.5px 70px $color;
	} @else if $type == "fluffy-7" {
		box-shadow: 0px 35px 90px $color;
	} @else {
		@error "Unknown elevation: #{$type}.";
	}
}