<div class="tertiary-background-color">
	<div class="container-fluid container-fluid-max-xl">
	   <div class="row">
		  <div class="col-md-8 mx-auto">
			 <h2 class="text-center">Always thinking of you</h2>
		  </div>
		  <div class="col-md-6 col-xs-10 mx-auto">
			 <p>Whether it's your child's first savings account, your first home or your retirement plan, we offer personal banking products and services tailored to your needs today with the flexibility to grow with you. We're here to help you every step of the way.</p>
	   </div>
	   </div>
	</div>
	<div class="bottom-modules">
	   <section class="container-fluid container-fluid-max-lg">
		  <div class="row">
			 <div class="col-md-4">
				<img alt="[Alternative image description]" class="center-block img-fluid" src="$item_4.jpg$">

				<div class="content-wrapper">
				   <h2>Life Insurance</h2>

				   <p>Westeros gives you and your loved ones reassurance that you're covered if the unexpected happens.</p>

				   <p><a class="small text-uppercase" href=" javascript:void(0);"><strong>Submit Your Request</strong></a></p>
				</div>
			 </div>
			 <div class="col-md-4">
				<img alt="[Alternative image description]" class="center-block img-fluid" src="$item_5.jpg$">

				<div class="content-wrapper">
				   <h2>Multicredit 24h</h2>

				   <p>Use your Westeros loan&nbsp;for almost anything you can think of, from getting a new car to consolidating existing debt.</p>

				   <p><a class="small text-uppercase" href=" javascript:void(0);"><strong>See your options</strong></a></p>
				</div>
			 </div>
			 <div class="col-md-4">
				<img alt="" class="center-block img-fluid" src="$item_6.jpg$">

				<div class="content-wrapper">
				   <h2>Online Banking</h2>

				   <p>Quick and convenient access to your accounts and much more, even&nbsp;on your mobile device...</p>

				   <p><a class="small text-uppercase" href=" javascript:void(0);"><strong>Register Now</strong></a></p>
				</div>
			 </div>
		  </div>
	   </section>
	</div>
 </div>