.hide {
	display: none !important;
}

// AUI
.overlay {
	position: absolute;
}

.overlay-hidden,
.overlaymask-hidden {
	display: none;
}

// JS

.lfr-autorow-controls {
	bottom: 5px;
	position: absolute;
	right: 5px;
}

.dropdown-menu {
	.dropdown.open > &,
	.overlay-content .open > & {
		display: block;
	}

	html#{$cadmin-selector} .overlay-content .open > &.cadmin {
		display: block;
		position: static;
	}
}
